<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394158193696-kdp03d91s0okqemgckoo373fs654f22k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394158193696-kdp03d91s0okqemgckoo373fs654f22k</string>
	<key>API_KEY</key>
	<string>AIzaSyAIghxECZX2jIVLuJiZpdIsv9NTajH4d6k</string>
	<key>GCM_SENDER_ID</key>
	<string>394158193696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.crochepassoapasso.financas.app1</string>
	<key>PROJECT_ID</key>
	<string>financas-app-5e785</string>
	<key>STORAGE_BUCKET</key>
	<string>financas-app-5e785.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394158193696:ios:27fbcd429e23582e281045</string>
	<key>DATABASE_URL</key>
	<string>https://financas-app-5e785.firebaseio.com</string>
</dict>
</plist>