<ion-list no-padding no-margin>
    <ion-list-header color="*" id="list-header">
      <ion-label class="fw700">Novo Lançamento</ion-label>
    </ion-list-header>

    <ion-item color="*" class="text-10" (click)="showModalNovoLcto()">
      <!--<ion-icon name="bookmarks" color="*"></ion-icon>
      <ion-label>Lançamento</ion-label>-->

      <ion-button color="*" expand="full" class="btn-lancamento">
        <ion-icon name="bookmarks"></ion-icon>
        Lançamento
      </ion-button>
    </ion-item>

    <ion-item color="*" class="text-10" (click)="showModalNovaTrans()">
      <!--<ion-icon name="code" color="*"></ion-icon>
      <ion-label>Transferência</ion-label>-->

      <ion-button color="*" expand="full" class="btn-lancamento">
        <ion-icon name="code"></ion-icon>
        Transferência
      </ion-button>
    </ion-item>
</ion-list>
