#list-header{
  background-color: #2E363F;
  color: #FFF;
}
.btn-lancamento{
  background-color: #49afcd;
  width: 100%;
  display: block;
  height: 60px;
}
ion-button{
  margin-top: 8px;
  margin-bottom: 8px;
}
